{% extends "proj_base.html.twig" %}

{% block main %}
<div class="blackjack">
    <h1>Blackjack</h1>

    <form class="form_card21" method="post" action="">
        <p>Money in pot: $ {{ game.pot }}</p>
        <p>your account: $ {{ player.account }}</p><br>
        <p>
            <label for="bet">Place your bet</label>
            <input type="number" name="bet" min="1" max="50" value="1">

            <input type="submit" name="deal_card" value="deal"
                onClick="this.form.action='{{ path('deal') }}';"
            >
        </p>
    </form>
    <div class="card_flex">
        <div class="game_info">
            <h2>Dealer</h2>
            <p>points: </p>
        </div>
        <ul class="ul-game">
            <div class="card-area"></div>
            <div class="card-area"></div>
        </ul>
    </div>

    <div class="space">
        {{ include('card/flash.html.twig') }}
    </div>
    
    {% for i in 1.. player.numOfHands %}
    <div class="hand-flex">

    <div class="card_flex">
        <div class="game_info">
            <h2>{{ player.name }}</h2>
            <p>points: {{ game.playerScore }}</p>
        </div>
        <ul class="ul-game">
            <div class="card-area"></div>
            <div class="card-area"></div>
        </ul>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}