{% extends "proj_base.html.twig" %}

{% block main %}
<div class="blackjack">
    <h1>Blackjack [bet]</h1>


    

    <form class="form_card21" method="post" action="">
        <p>Player: {{ player.name }}</p>
        <p>Your Account: $ {{ player.account }}</p><br>
        <p>Place your bet</p>
        <p>
        {% if player.numOfHands > 0 %}
        <label for="bet1">hand 1</label>
        <input type="number" name="bet1" min="1" max="50" value="1">
        {% endif %}
        {% if player.numOfHands > 1 %}
        <label for="bet2">hand 2</label>
        <input type="number" name="bet2" min="1" max="50" value="1">
        {% endif %}
        {% if player.numOfHands > 2 %}
        <label for="bet3">Hand 3</label>
        <input type="number" name="bet3" min="1" max="50" value="1">
        {% endif %}
        </p><p>
        <input type="submit" name="deal_card" value="deal"
            onClick="this.form.action='{{ path('deal') }}';"
        >
        </p>
    </form>
    <div class="card_flex">
        <div class="game_info">
            <h2>Dealer</h2>
            <p>points: </p>
        </div>
        <ul class="ul-game">
            <div class="card-area"></div>
            <div class="card-area"></div>
        </ul>
        <div class="space">
            {{ include('card/flash.html.twig') }}
        </div>
    </div>
    
    {% for i in 1.. player.numOfHands %}
    <div class="hand-flex">

    <div class="card_flex">
        <div class="game_info">
            <h2>Hand {{ loop.index0 + 1 }}</h2>
            <p>points:</p>
            <p>bet:</p>
        </div>
        <ul class="ul-game">
            <div class="card-area"></div>
            <div class="card-area"></div>
        </ul>
    </div>
    {% endfor %}
    </div>

</div>
{% endblock %}