{% extends "proj_base.html.twig" %}

{% block main %}
<div class="blackjack">
    <h1>Blackjack</h1>

    <form class="form_card21" method="post" action="">
        <p>Player: $ {{ player.name }}</p>
        <p>Your Account: $ {{ player.account }}</p><br>

        {% if game.bust() == 'It´s fun to play...right?' %}

        <p>
            <label>Hit</label>
            <input type="submit" name="hand 1" value="hand 1"
            onClick="this.form.action='{{ path('hit1') }}';"
            >
            {% if player.numOfHands > 1 %}
            <input type="submit" name="hand 2" value="hand 2"
            onClick="this.form.action='{{ path('hit2') }}';"
            >
            {% endif %}
            {% if player.numOfHands > 2 %}
            <input type="submit" name="hand 3" value="hand 3"
            onClick="this.form.action='{{ path('hit3') }}';"
            >
            {% endif %}
        </p>
        <p><input type="submit" name="stand" value="stand"
            onClick="this.form.action='{{ path('stand') }}';"
            ></p>
        {% elseif game.bust() != 'It´s fun to play...right?' %}

        <p><input type="submit" name="new_round" value="New Round"
            onClick="this.form.action='{{ path('bet') }}';"
            ></p>

        <p><input type="submit" name="quit" value="quit"
            onClick="this.form.action='{{ path('proj') }}';"
            ></p>
        {% endif %}
    </form>
    <div class="card_flex">
        <div class="game_info">
            <h2>Dealer</h2>
            <p>points: {{ game.firstBankCard }}</p>
        </div>
        <ul class="ul-game">
            <div class="card">
                <li class="card-topp">{{ bankHand | first }}</li>
                <li class="card-mid"><img src="{{ asset('img/bth.png') }}" alt="bth-logo"></li>
                <li class="card-bottom">{{ bankHand | first }}</li>
            </div>
            <div class="back-card"></div>

        </ul>
    </div>

    <div class="space">
        {{ include('card/flash.html.twig') }}
    </div>

    {# {% for i in 1.. player.numOfHands %} #}
    {% for arr in playerHand %}
    <div class="hand-flex">
        <div class="card_flex">
            <div class="game_info">
                <h2>Hand {{ loop.index0 + 1 }}</h2>
                <p>points: {{ game.handScore[loop.index0]  }}</p>
                <p>bet: {{ player.bets[loop.index0]  }}</p>
            </div>
            {% for card in arr %}
                {# {% for card in playerHand %} #}
                <ul class="ul-game">
                    <div class="card">
                        <li class="card-topp">{{ card }}</li>
                        <li class="card-mid"><img src="{{ asset('img/bth.png') }}" alt="bth-logo"></li>
                        <li class="card-bottom">{{ card }}</li>
                    </div>
                </ul>   
                {% endfor %}     
        </div>
        {% endfor %}
    </div>

    {# {{ dump(game) }} #}
</div>


{% endblock %}