{% extends "proj_base.html.twig" %}

{% block main %}
<div class="blackjack">
    <h1>Blackjack</h1>

    <form class="form_card21" method="post" action="">
        <p>Player: {{ player.name }}</p>
        <p>Your Account: $ {{ player.account }}</p><br>

        <p>
            <input type="submit" name="quit" value="quit"
                onClick="this.form.action='{{ path('proj') }}';"
            >       
        </p>
        <p>
            {% if player.numOfHands >= 1 and game.player21() != '21' %}
            <label>Hand 1</label>
            <input type="submit" name="hit1" value="hit1"
            onClick="this.form.action='{{ path('hit1') }}';"
            >
            {% endif %}
            {% if player.numOfHands >= 2 and game.player21() != '21' %}
            <label>Hand 2</label>
            <input type="submit" name="hit2" value="hit2"
            onClick="this.form.action='{{ path('hit2') }}';"
            >
            {% endif %}
            {% if player.numOfHands >= 3 and game.player21() != '21' %}
            <label>Hand 3</label>
            <input type="submit" name="hit3" value="hit3"
            onClick="this.form.action='{{ path('hit3') }}';"
            >
            {% endif %}
            {% if game.player21() != '21' %}
            <input type="submit" name="stand" value="stand"
            onClick="this.form.action='{{ path('stand') }}';"
            >
            {% endif %}

            {% if game.player21() == '21' %}
            <p><input type="submit" name="new_round" value="New Round"
                onClick="this.form.action='{{ path('bet') }}';"
                ></p>
            {% endif %}

        </p>
    </form>

    <div class="card_flex">
        <div class="game_info">
            <h2>Dealer</h2>
            <p>points: {{ game.firstBankCard }}</p>
        </div>
        <ul class="ul-game">
            <div class="card">
                <li class="card-topp">{{ bankHand | first }}</li>
                <li class="card-mid"><img src="{{ asset('img/bth.png') }}" alt="bth-logo"></li>
                <li class="card-bottom">{{ bankHand | first }}</li>
            </div>
            <div class="back-card"></div>

        </ul>
    </div>

    <div class="space">
        {{ include('card/flash.html.twig') }}
    </div>

    {% for arr in playerHand %}
    <div class="hand-flex">
        <div class="card_flex">
            <div class="game_info">
                <h2>Hand {{ loop.index0 + 1 }}</h2>
                <p>points: {{ game.handScore[loop.index0]  }}</p>
                <p>bet: {{ player.bets[loop.index0]  }}</p>
            </div>
            {% for card in arr %}
                <ul class="ul-game">
                    <div class="card">
                        <li class="card-topp">{{ card }}</li>
                        <li class="card-mid"><img src="{{ asset('img/bth.png') }}" alt="bth-logo"></li>
                        <li class="card-bottom">{{ card }}</li>
                    </div>
                </ul>   
                {% endfor %}     
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}