{% extends "proj_base.html.twig" %}

{% block main %}
<div class="blackjack">
    <h1>Blackjack [PLAYING]</h1>
    {# {# {{ dump(game) }} #}
    {# {{ dump(bankHand | first) }} #}

    {# <p>
        {% for value in numHands %}
            <p> hep </p>
        {% endfor %}
    </p> #}
    {# {{ include('card21/card21_score.html.twig') }} #}
    <form class="form_card21" method="post" action="">
        <p>your account: $ {{ player.account }}</p>


        <p><input type="submit" name="done" value="done"></p>
        <p>
            <label>Hands</label>
            <input type="submit" name="hit1" value="hit1"
            onClick="this.form.action='{{ path('hit1_post') }}';"
            >

            <input type="submit" name="hit2" value="hit2"
            onClick="this.form.action='{{ path('hit2_post') }}';"
            >

            <input type="submit" name="hit3" value="hit3"
            onClick="this.form.action='{{ path('hit1_post') }}';"
            >
        </p>
    </form>
    <div class="card_flex">
        <div class="game_info">
            <h2>Dealer</h2>
            <p>points: {{ game.firstBankCard }}</p>
        </div>
        <ul class="ul-game">
            <div class="card">
                <li class="card-topp">{{ bankHand | first }}</li>
                <li class="card-mid"><img src="{{ asset('img/bth.png') }}" alt="bth-logo"></li>
                <li class="card-bottom">{{ bankHand | first }}</li>
            </div>
            <div class="back-card"></div>

        </ul>
    </div>

    <div class="space">
        {{ include('card/flash.html.twig') }}
    </div>

    {# {% for i in 1.. player.numOfHands %} #}
    {% for arr in playerHand %}
    
    <div class="card_flex">
        <div class="game_info">
            <h2>{{ player.name }}</h2>
            {# <p>points: {{ game.handScore[loop.index0]  }}</p> #}
            <form class="form_card21" method="post" action="">
                <p>
                    <input type="submit" name="hit{{loop.index}}" value="hit{{loop.index}}">
                </p>
            </form>
        </div>
        {% for card in arr %}
            {# {% for card in playerHand %} #}
            <ul class="ul-game">
                <div class="card">
                    <li class="card-topp">{{ card }}</li>
                    <li class="card-mid"><img src="{{ asset('img/bth.png') }}" alt="bth-logo"></li>
                    <li class="card-bottom">{{ card }}</li>
                </div>
            </ul>  
            {% endfor %}      
    </div>
    {% endfor %}
    {# {% endfor %} #}
    

{# 
    <p>Roll the dices or save the points you have.</p>

    {{ include('flash.html.twig') }}
    
    <p>
        {% for value in diceValues %}
            <span class="dice">{{ value }}</span>
        {% endfor %}
    </p>
    
    <form method="post" action="">
        <p>
            <input type="submit" name="roll" value="Roll"
                onClick="this.form.action='{{ path('pig_roll') }}';"
            >
            <input type="submit" name="save" value="Save"
                onClick="this.form.action='{{ path('pig_save') }}';"
            >
            <input type="submit" name="restart" value="Restart"
                onClick="this.form.action='{{ path('pig_init_get') }}';this.form.method='get';"
            >
        </p>
    </form>
    
    <p>You are playing with {{ pigDices }} dices.</p>
    
    <p>Round: {{ pigRound }}</p>
    <p>Total: {{ pigTotal }}</p> #}
</div>
{{ dump(game) }}
{# {{ dump(hit1) }} #}
{# {{ dump(player) }} #}
{% endblock %}