{% extends "proj_base.html.twig" %}

{% block main %}
<div class="blackjack">
    <h1>Blackjack [PLAYING]</h1>

    <form class="form_card21" method="post" action="">
        <p>Money in pot: $ {{ game.pot }}</p>
        <p>your account: $ {{ player.account }}</p>


        <p><input type="submit" name="done" value="done"></p>
        <p>
            <label>Hit</label>
            <input type="submit" name="hand 1" value="hand 1"
            onClick="this.form.action='{{ path('hit1') }}';"
            >
            {% if player.numOfHands > 1 %}
            <input type="submit" name="hand 2" value="hand 2"
            onClick="this.form.action='{{ path('hit2') }}';"
            >
            {% endif %}
            {% if player.numOfHands > 2 %}
            <input type="submit" name="hand 3" value="hand 3"
            onClick="this.form.action='{{ path('hit3') }}';"
            >
            {% endif %}

        </p>
    </form>
    
    <div class="card_flex">
        <div class="game_info">
            <h2>Dealer</h2>
            <p>points: {{ game.bankScore }}</p>
        </div>
        {% for card in bankHand %}

        <ul class="ul-game">
            <div class="card">
                <li class="card-topp">{{ card }}</li>
                <li class="card-mid"><img src="{{ asset('img/bth.png') }}" alt="bth-logo"></li>
                <li class="card-bottom">{{ card }}</li>
            </div>     
        </ul>
        {% endfor %}
    </div>

    <div class="space">
        {{ include('card/flash.html.twig') }}
    </div>

    {# {% for i in 1.. player.numOfHands %} #}
    {% for arr in playerHand %}
    <div class="hand-flex">
        <div class="card_flex">
            <div class="game_info">
                <h2>{{ player.name }}</h2>
                <p>Hand: {{ loop.index0 + 1 }}</p>
                <p>points: {{ game.handScore[loop.index0]  }}</p>
            </div>
            {% for card in arr %}
                {# {% for card in playerHand %} #}
                <ul class="ul-game">
                    <div class="card">
                        <li class="card-topp">{{ card }}</li>
                        <li class="card-mid"><img src="{{ asset('img/bth.png') }}" alt="bth-logo"></li>
                        <li class="card-bottom">{{ card }}</li>
                    </div>
                </ul>   
                {% endfor %}     
        </div>
        {% endfor %}
    </div>

</div>
{# {{ dump(game) }} #}
{# {{ dump(hit1) }} #}
{# {{ dump(player) }} #}
{% endblock %}