{% extends "proj_base.html.twig" %}

{% block main %}
<div class="blackjack">
    <h1>Blackjack [bet]</h1>
    {{ dump(hands) }}
    {{ dump(pieces) }}
    {{ dump(cards) }}
    {# {{ dump(bankHand) }} #}
    {% for hand in hands %}
    <p class="info">id: {{ hand.bank_hand|e }}</p>
    {% endfor %}

    <p class="info">id: {{ pieces[1] }}</p>

    <div class="card_flex">
        <div class="game_info">
            <h2>Dealer</h2>
            {# <p>points: {{ game.firstBankCard }}</p> #}
        </div>
        <ul class="ul-game">
            <div class="card">
                <li class="card-topp">{{ pieces[1] }}</li>
                <li class="card-mid"><img src="{{ asset('img/bth.png') }}" alt="bth-logo"></li>
                <li class="card-bottom">{{ pieces[1] }}</li>
            </div>
            <div class="back-card"></div>

        </ul>
        <div class="space">
            {{ include('card/flash.html.twig') }}
        </div>
    </div>

    {# {% for card in hands %} #}
    <div class="hand-flex">
        <div class="card_flex">
            {# <div class="game_info">
                <h2>Hand {{ loop.index0 + 1 }}</h2>
                <p>points: {{ game.handScore[loop.index0]  }}</p>
                <p>bet: {{ player.bets[loop.index0]  }}</p>
            </div> #}
            {% for value in cards %}
                <ul class="ul-game">
                    <div class="card">
                        <li class="card-topp">{{ value }}</li>
                        <li class="card-mid"><img src="{{ asset('img/bth.png') }}" alt="bth-logo"></li>
                        <li class="card-bottom">{{ value }}</li>
                    </div>
                </ul>   
                {% endfor %}     
        </div>
    </div>

</div>
{% endblock %}