{% extends 'proj_base.html.twig' %}

{% block title %}Players{% endblock %}

{% block main %}

<div class="blackjack">
    <h2>Saved players</h2>
    {{ include('card/flash.html.twig') }}
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Account</th>
            <th>Number of hands</th>
            <th>View</th>
            <th>Load</th>
            <th>Delete</th>
        </tr>
    {% for players in blackjack %}
        <tr>
            <td>{{ players.getId|e }}</td>
            <td>{{ players.getName|e }}</td>
            <td>{{ players.getAccount|e }}</td>
            <td>{{ players.getNumOfHands|e }}</td>
            <td>
                <a href="{{ path('library_by_id', {'id': players.getId})}}"><i class="fa-solid fa-circle-info"></i></a>
            </td>
            <td>
                <a href="{{ path('library_update_get', {'id': players.getId})}}"><i class="fa-regular fa-floppy-disk"></i></a>
            </td>
            <td>
                <a href="{{ path('library_delete_by_id', {'id': players.getId})}}"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
    {% endfor %}
    </table>
    
    <button class="button" role="button">
        <a href="{{ path('proj')}}">back</a>
    </button>

    <button class="button" role="button">
        <a href="{{ path('proj')}}">Reset database</a>
    </button>
</div>

{% endblock %}
