{% extends "proj_base.html.twig" %}

{% block main %}
<div class="blackjack">
    <h1>Blackjack [bet]</h1>
    {# {{ dump(hands) }} #}
    {# {{ dump(pieces) }} #}
    {# {{ dump(cards) }} #}
    {# {{ dump(player_hands) }} #}
    {# {% for hand in hands %}
    <p class="info">id: {{ hand.bank_hand|e }}</p>
    {% endfor %} #}

    {# <p class="info">id: {{ pieces[1] }}</p> #}
    <form class="form_card21" method="post" action="">
        <p>
            <input type="submit" name="quit" value="quit"
                onClick="this.form.action='{{ path('proj') }}';"
            >       
            <input type="submit" name="back" value="back"
            onClick="this.form.action='{{ path('players_view_all') }}';"
            > 
        </p>
    </form>
    <div class="card_flex">
        <div class="game_info">
            <h2>Dealer</h2>
        </div>
        {% for value in bank_hand %}
        <ul class="ul-game">
            <div class="card">
                <li class="card-topp">{{ value }}</li>
                <li class="card-mid"><img src="{{ asset('img/bth.png') }}" alt="bth-logo"></li>
                <li class="card-bottom">{{ value }}</li>
            </div>
        </ul>
        {% endfor %}     

        <div class="space">
            {{ include('card/flash.html.twig') }}
        </div>
    </div>

    {% for arr in player_hands %}
    <div class="hand-flex">
        <div class="card_flex">
            <div class="game_info">
                <h2>Player<br>hand</h2>
            </div>
            {% for card in arr %}
                <ul class="ul-game">
                    <div class="card">
                        <li class="card-topp">{{ card }}</li>
                        <li class="card-mid"><img src="{{ asset('img/bth.png') }}" alt="bth-logo"></li>
                        <li class="card-bottom">{{ card }}</li>
                    </div>
                </ul>   
            {% endfor %}     
        </div> 
    {% endfor %}     
    </div> 
    

</div>
{% endblock %}