<nav>
    <ul>
        <li><a href="{{ path('card_start') }}">Startsida kortlek</a></li>
        <li><a href="{{ path('session') }}">Session</a></li>
        <li><a href="{{ path('card_deck') }}">| Kortlek sorterad</a></li>
        <li><a href="{{ path('shuffle') }}">| Kortlek blandad</a></li>
        <li><a href="{{ path('draw_get') }}">| Dra ett kort</a></li>
    </ul>
</nav>