{% extends "base.html.twig" %}

{% block main %}
<div class="game">
    <h1>Dra ett kort [draw]</h1>


    {{ dump(deck) }}
    {{ dump(num) }}
    <ul class="ul-game">
        {% for card in str_deck %}
        <div class="card">
            <li class="card-topp">{{ card }}</li>
            <li class="card-mid"><img src="{{ asset('img/bth.png') }}" alt="bth-logo"></li>
            <li class="card-bottom">{{ card }}</li>
        </div>
        {% endfor %}
    </ul>



    <form method="post" action="">
        <p>
            <input type="submit" name="dra kort" value="draw"
                onClick="this.form.action='{{ path('draw_post') }}';"
            >
            <input type="submit" name="draw_shuffle" value="blanda leken"
                onClick="this.form.action='{{ path('draw_shuffle') }}';"
            >
        </p>
    </form>

    <p>Vill du dra fler kort?</p>
    <form method="post" action="">
        <input type="number" name="num_cards" min="1" max="52" value="1">
        <input type="submit" name="do_it" value="dra korten">
    </form>
</div>
{% endblock %}
