{% extends "base.html.twig" %}

{% block title %}Hem{% endblock %}

{% block main %}

<h1>API</h1>

<p>Här är webplatsens olika JSON routes</p>

<a href="{{ path('api/quote') }}" target="_blank">api/quote</a>
<p>Ger slumpmässiga citat, datum och tidsstämpel</p>


<a href="{{ path('api_deck') }}" target="_blank">api_deck</a>
<p>Ger en kortlek sorterad i färg och värde</p>
<a href="{{ path('api_shuffle') }}" target="_blank">api_shuffle</a>
<p>Ger en blandad kortlek</p>
<a href="{{ path('api_deck_draw_post') }}" target="_blank">api_draw</a>
<p>Den här länken visar en kortlek för api. Här nedan kan du använda dessa knappar att antingen dra ett kort eller välja antal ur api kortleken. väljer du fler så dras samma antal varje gång du uppdaterar sidan</p>

<div class="flex-container">
    <form method="post" action="{{ path('api_deck_draw_post') }}">
        <p>
            <input type="submit" name="dra_kort" value="dra"
                {# onClick="this.form.action='{{ path('api_deck_draw_post') }}';" #}
            >
        </p>
    </form>
    <form method="post" action="{{ path('api_deck_draw_num') }}">
        <p>
            <input type="number" name="api_num_cards" min="1" max="52" value="1">
            <input type="submit" name="do_it" value="dra fler kort">
        </p>
    </form>
</div>

<a href="{{ path('api_game') }}" target="_blank">api_game21</a>
<p>Här kan du se aktuell ställning i kortspelet 21</p>

{% endblock %}
