{% extends 'base.html.twig' %}

{% block title %}Rapporter{% endblock %}

{% block main %}
<div class="flex-container">
    <div class="flex1">
        <ul>
            <li><a href="#Introduktion">Introduktion</a></li>
            <li><a href="#Phpmetrics">Phpmetrics</a></li>
            <li><a href="#Scrutinizer">Scrutinizer</a></li>                
            <li><a href="#Förbättringar">Förbättringar</a></li>
            <li><a href="#Analys">Analys</a></li>
            <li><a href="#Diskussion">Diskussion</a></li>
        </ul>
    </div>
    <div class="flex2">
        <h1 id="Introduktion">Introduktion</h1>
        <p>
            I kursmoment 6 har vi installerat olika verktyg för att hitta mätvärden och analysera våran kod. De verktyg vi testar här är phpmetrics och scrutinizer. Med hjälp av dessa kan vi hitta både problematiska och svagare delar som kanske inte är direkta problem men som ändå kan förbättras. Allt detta handlar mycket om god kodkvalitet som gör koden både mer förståelig för andra än dej själv men kan även handla om att göra koden enklare att uppdatera och underhålla eller vidareutveckla. Helt enkelt bra snygg kod! Det finns några olika saker vi kan titta på här som kan sammanfattas med 6C (eller kanske 7..), delar som ger en snygg och bra skriven kod.
        </p>

        <h3>Codestyle</h3>
        <p>
            Code style handlar om hur du skriver din kod och att vi håller oss till den standard som sammanhanget förhåller sig till. Till exempel hur du namnger olika klasser och metoder, en vanlig regel är Camelcase som betyder att första bokstaven i varje nytt ord är stor bokstav istället för mellanrum. Även vilka indrag man väljer att ha och vart gör koden mer lättläst. Allt detta gör att koden hänger ihop och blir mer lättläst.
        </p>  
        
        <h3>Coverage</h3>
        <p>
            Om man använder verktyg som till exempel phpunit så skriver man egna test filer till sin egen kod. På det sättet får man en extra test att koden faktiskt gör det man vill och tror att den ska. Här kan man generera test-sidor som redovisar filer som är testade och i vilken utsträckning. Nedan ser ni en bild på den här webplatsens coverage från phpunit. Och som ni kan se har jag bara gjort tester på klasserna inom Dice och Card.
        </p>
        <img src="{{ asset('img/phpunit_coverage.png') }}" alt="coverage">
        
        <h3>Complexity</h3>
        <p>
            Complexity handlar om hur komplicerad logik koden har. Ju mer komplex ju svårare att förstå och svårare att underhålla och vidareutveckla. Här vill man sträva efter så enkel logik som möjligt.
        </p>

        <h3>Cohesion</h3>
        <p>
            Man vill helst dela upp sin kod i olika block som hänger ihop. Det vill säga att man vill att koden i klassen ska ha med klassen att göra och koden i metoden med det metoden ska göra. Här kan man se i analysen om det kanske kan va läge att dela upp en metod som utför flera uppgifter till flera mindre metoder eller dela upp en klass i flera specifika delar eller liknande.
        </p>

        <h3>Coupling</h3>
        <p>
            Om jag förstått rätt här så visar coupling hur beroende olika klasser är till varandra. Även här strävar man kanske efter en enkelhet, även om vissa klasser kanske av naturen behöver många kopplingar till andra klasser och då kan få ett sämre mätvärde. Till exempel en route-klass eller en game-klass har ju ofta rollen att sitta i centrum och använda sig av många andra klasser.
        </p>

        <h3>CRAP</h3>
        <p>
            Detta är en metod som används i vissa automatiserade test verktyg som kombinerar analysen av komplexitet och kodtäckning(coverage) för att hitta kod som kan vara extra svår att förstå, testa och underhålla. 
        </p>

        <h2 id="Phpmetrics">Phpmetrics</h2>
        <p>Jag börjar att titta på phpmetrics overview för att försöka få en uppfattning om var jag kan hitta svagheter i koden.</p>
        <img src="{{ asset('img/overview.png') }}" alt="overview">

        <p>Det jag först ser är 10 stycken violations. Detta känns för mej som något man bör titta närmare på. När jag tittar närmare så är det 9 stycken varningar och 1 styck error. Varningarna är från mina controllers som ju kanske normalt blir lite komplexare. Jag får även förslaget att titta på mina unit tests för dessa klasser. Vilket jag kan förstå då jag ju inte har gjort några test till dem. Den som fått error är min productController. Det är från en övning inför biblietekts uppgiften. Här får jag förslaget att reducera antalet metoder som delar objektet till flera sub objekt. Lite oklart vad det betyder för mej men även intressant att det är controllern från övningen och inte själva uppgiften. Det kan ju tyda på att jag eventuellt lagt mer tid och energi på uppgiften kanske. </p>
        <img src="{{ asset('img/violations.png') }}" alt="violations">

        <p>Jag ser även bilden under Maintainability / complexity som visualiserar olika delar av koden i form av cirklar. Där är 2 stycken cirklar som är röda och ett antal gula och gröna. De röda indikerar att dessa delar kan vara lite onödigt komplexa. Dom två röda är 2 stycken controllers igen. Även här kommer productControllern men även den controller som hanterar kortspelet 21, Card21Controller.  </p>
        <p>Jag tittar vidare på komplexiteten under fliken Complexity & defects. Här toppar klassen Play21 som är min klass som hanterar kortspelet 21. Intressant här kan ju vara att jag tidigare hittat controllern till kortspelet som en för komplex del också, kanske kan hänga ihop att dessa två har lite för invecklad kod. Och går jag vidare och tittar på size and volume så toppas även denna lista av klassen Play21. Klassen är alltså både stor och komplex.</p>
        <img src="{{ asset('img/complexity.png') }}" alt="complexity">
        <img src="{{ asset('img/size.png') }}" alt="size">

        <p>Så sammanfattningsvis känner jag att det kan vara läge att titta på följande delar som kanske skulle kunna förbättras.</p>
        <p>skapa testklasser för controllers</p>
        <p>Förenkla / korta ner / snygga till klassen Play21 och eventuellt även Card21Controllern.</p>
        <p>Titta på om productController kan reducera sina metoder som delar objekt till sub objekt eller om detta kanske faktiskt egentligen bara är helt enkelt överflödig kod som bara ska tas bort. Det är ju faktiskt bara en övning som kanske inte behöver finnas kvar men kan ju va intressant att se om jag lyckas lösa det ändå.</p>
        
        <h2 id="Scrutinizer">Scrutinizer</h2>
        <p>Även här börjar jag med att titta på översikten. Här var det ju goda nyheter att vi fått betyget 9.91 very good. Kul. Ni kan även se att jag gjort några olika inspektioner. Detta är från när jag startade upp och då hade jag ett issue som gjorde att inspektionen inte kunde genomföras. Även här är det klassen Play21 som spökar som vi såg tidigare hade varningar om komplexiteten. På mina badges ser det grönt och fint ut förutom på coverage som är röd. Endast 23% kodtäckning. Inte så bra siffra kanske men även förståeligt då jag inte gjort så mycket testklasser.</p>
        <img src="{{ asset('img/scrutinizer_overview.png') }}" alt="overview">

        <p>Tittar vi vidare på coverage så ser vi full täckning på dom olika Card och Dice klasserna men i övrigt helt otestat. Här finns ju mycket förbättringspotential.</p>
        <img src="{{ asset('img/scrutinizer_coverage.png') }}" alt="coverage">

        <p>Under fliken issues hittar jag även många tips på detaljer som skulle kunna förbättras. Lite mer konkreta förslag på rader i koden som är mer eller mindre bra. En intressant del är ju till exempel att jag tydligen har 12 stycken ställen med oanvänd kod vilket ju självklart känns onödigt att ha kvar. Även intressant med best practice där man kanske kan få lite hjälp att förfina sina kodrader.</p>
        <img src="{{ asset('img/scrutinizer_issues.png') }}" alt="issues">

        <p>Sammanfattningsvis ser jag här att jag framförallt bör testa min kod bättre, precis som även phpmetrics pekade mot. Men även lägga lite tid på att titta igenom issues kan vara en god idé. Där känns det som man kan få ganska tydliga förslag på förbättrade detaljer.</p>
        
        <div class="ram">
            <p>Här är mina badges från scrutinizer om du vill titta mer detaljerat</p>
            <div class="flex-container">
                <a href="https://scrutinizer-ci.com/g/Kof666/MVC/?branch=main" target="_blank"><img src="https://scrutinizer-ci.com/g/Kof666/MVC/badges/quality-score.png?b=main" alt="coverage"></a>
                <a href="https://scrutinizer-ci.com/g/Kof666/MVC/code-structure/main/code-coverage/src/" target="_blank"><img src="https://scrutinizer-ci.com/g/Kof666/MVC/badges/coverage.png?b=main" alt="coverage"></a>
                <a href="https://scrutinizer-ci.com/g/Kof666/MVC/inspections/58b84745-c2c7-4664-a6af-99b7fcf5d078/log" target="_blank"><img src="https://scrutinizer-ci.com/g/Kof666/MVC/badges/build.png?b=main" alt="coverage"></a>
            </div>
        </div>
        <br>
        <h2 id="Förbättringar">Förbättringar</h2>

        <p>De förbättringar jag avser göra är följande:</p>
        <div class="ram">
            <ul class="ul-metrics">
                <li class="li-metrics">Fixa så många issues jag kan i scrutinizer</li>
                <li class="li-metrics">Öka min kodtäckning till ok nivå</li>
                <li class="li-metrics">Försöka minska komplexiteten i klassen Play21 och Card21Controller</li>
                <li class="li-metrics">Se om jag kan öka betyget på Worst rated PHP Operations i scrutinizer</li>
            </ul>
        </div>

        <p>Det jag kommer fram till som är mest eftersatt är kodtäckningen. Det är återkommande varningar att det saknas tester på mycket kod. Även att coverage är den badge som är röd och dessutom endast 23% tyder ju på att det är här jag bör lägga fokus. Med det sagt så är jag även intresserad av både förenkling av komplexiteten och issues i scrutinizer. Jag känner mej själv och börjar inse att logiken ofta kan bli lite onödigt komplex vilket ju här är en möjlighet att jobba lite  på. Även de olika issues som scrutinizer pekar på kan ju ge en insikt i hur jag framöver kan skriva mera clean code i framtiden kanske. Det är i alla fall min förhoppning. </p>

        <br><p>Mitt mål här är att få en grön badge på coverage och även något bättre värden på komplexiteten.</p>

        <br>
        <h2 id="Analys">Analys</h2>
        <p>Efter att jag försökt implementera förbättringarna inser jag svårigheten att lyckas. Jag började med att titta på issues på scrunitzer där jag hittade flera enklare förbättringar, till exempel att någon metod kunde returnera null vilket inte är helt ok i de fallen. Jag hittade även en del onödiga rader kod. Variabler som blivit tilldelade värden och sen några rader längre ner fått nya värden utan att användas. Ofta på ställen i koden där jag jobbat en stund för att komma rätt. Detta arbete förbättrade kanske inte mina testresultat speciellt men gav ändå mej en del insikt. Antalet issues har minskat markant.</p>
        
        <br><p>Kod täckningen har även förbättrats. Den har ökat till 52% från 23% och fått en gul badge. Detta på grund av ökade test av controller klasser vilket per automatik gett viss kodtäckning även i entity- och repository klasserna. Här var mitt mål att få en grön badge men jag fick nöja mej med en gul då jag inte lyckades hitta något vettigt sätt att testa session variablerna i controller klasserna. Tiden fanns helt enkelt inte för detta tyvärr.</p>
        
        <br><p>Efter lite analyserande av komplexiteten i klassen Play21 och Card21Controller och Worst rated PHP Operations inser jag att detta nog blir ett större ingrepp än tiden ger mej. Jag bestämmer mig för att i projektet försöka skaffa mig bättre ordning och dela upp uppgifterna i olika metoder och klasser på ett bättre sätt och släpper detta här.</p>
        
        <br><p>Jag valde även att rensa bort vissa övningsfiler, de kopplade till övning 1 från kmom05. Detta kändes rätt då den övningen inte ska lämnas in utan bara ge en förståelse hur man kan komma igång med Doctrine i Symfony.</p>
        
        <h2 id="Diskussion">Diskussion</h2>
        <p>Det har känts lärorikt och intressant att testa att jobba med clean code på det här sättet. Jag kan se både fördelar och nackdelar med det här sättet att arbeta även om kanske fördelarna väger tyngre. Det är ju smidigt att ha dessa olika tester som hjälpmedel att hålla sig till projektets kodstandard och som sammanfattar din kod på olika sätt så att du kan få en bild över hur clean den är. Samtidigt har jag märkt att jag själv kanske byter lite fokus från att skriva kod som ger rätt funktioner till att anpassa koden efter dessa testers standard. Jag kan snabbt få en känsla av att jag vill ha bra betyg av kod-testningen och glömmer ibland att tänka tanken vad koden egentligen är skriven för.</p>
        
        <br><p>Jag tycker det är ett utmärkt verktyg för utbildningen där man får en väldigt bra hint om var eller vilka delar av sin kod man kan fokusera på för att förbättra sin egen standard. Ofta känner jag att tiden kanske är lite för knapp för att fundera på hur jag kan göra en snyggare lösning utan man får fokusera på att bara få en lösning. Till sist bör jag väl sammanfatta det hela med att säga att även om jag inser värdet i testerna är jag ju tyvärr inte helt nöjd. Jag fick bara upp coverage till gul badge där jag ville ha grön och min overall gick ner till 9.88 från 9.91 på scrutinizer. Känns ju som ett litet nederlag att sänka sitt betyg helt enkelt..</p>
    </div>
</div>
{% endblock %}
