{% extends "base.html.twig" %}

{% block title %}Card21 Game{% endblock %}

{% block main %}
{{ dump(game) }}
<div class="game">
    <div class="scoure_view">
        <p>Omgång: {{ rounds }}</p>
        <p>Croupier: {{ bank_score }}</p>
        <p>Spelare: {{ player_score }}</p>
    </div>
    {{ include('card/flash.html.twig') }}
    <h2>Croupier</h2>
    <ul class="ul-game">
        <div class="back-card"></div>
    {% if game is not null %}
    {% for card in game %}
        <div class="card">
            <li class="card-topp">{{ card }}</li>
            <li class="card-mid"><img src="{{ asset('img/bth.png') }}" alt="bth-logo"></li>
            <li class="card-bottom">{{ card }}</li>
        </div>
    {% endfor %}
    {% endif %}
    </ul>

    <h2>Spelare</h2>
    <ul class="ul-game">
    {% for card in playerHand %}
        <div class="card">
            <li class="card-topp">{{ card }}</li>
            <li class="card-mid"><img src="{{ asset('img/bth.png') }}" alt="bth-logo"></li>
            <li class="card-bottom">{{ card }}</li>
        </div>
    {% endfor %}
    </ul>

    <form method="post" action="">
        <p>
            <input type="submit" name="done" value="nöjd"
                onClick="this.form.action='{{ path('bankHand_21') }}';"
            >
            <input type="submit" name="draw_card" value="ett kort till"
                onClick="this.form.action='{{ path('start_21_post') }}';"
            >
        </p>
    </form>
</div>

{% endblock %}
