{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block main %}

<h2>Lista över böcker</h2>
{{ include('card/flash.html.twig') }}
<table>
    <tr>
        <th>Id</th>
        <th>Titel</th>
        <th>ISBN</th>
        <th>Författare</th>
        <th>Visa</th>
        <th>Uppdatera</th>
        <th>Radera</th>
    </tr>
{% for book in library %}
    <tr>
        <td>{{ book.getId|e }}</td>
        <td>{{ book.getTitle|e }}</td>
        <td>{{ book.getIsbn|e }}</td>
        <td>{{ book.author|e }}</td>
        <td>
            <a href="{{ path('library_by_id', {'id': book.getId})}}"><i class="fa-solid fa-circle-info"></i></a>
        </td>
        <td>
            <a href="{{ path('library_update_get', {'id': book.getId})}}"><i class="fa-solid fa-pen-to-square"></i></a>
        </td>
        <td>
            <a href="{{ path('library_delete_by_id', {'id': book.getId})}}"><i class="fa-solid fa-trash"></i></a>
        </td>
    </tr>
{% endfor %}
</table>

<button class="button" role="button">
    <a href="{{ path('library_index')}}">back</a>
</button>
{% endblock %}
